[submodule "dependencies/MeowUtilities"]
	path = dependencies/MeowUtilities
	url = https://github.com/ThatSocialistKitty/MeowUtilities.git
[submodule "dependencies/MeowWindow"]
	path = dependencies/MeowWindow
	url = https://github.com/ThatSocialistKitty/MeowWindow.git
[submodule "dependencies/MeowbloxClient"]
	path = dependencies/MeowbloxClient
	url = https://github.com/ThatSocialistKitty/MeowbloxClient
